{% load static %}

<section id="new-arrivals" class="new-arrivals">
    <div class="container">
        <div class="section-header">
            <h2>yangi kelganlar</h2>
            <a class="links" href="#">hammasi</a>
            {% for category in categoryes %}
            <a class="links" href="{% url 'NEWSROOM:cat' %}?category={{ category.category_name }}">{{
                category.category_name }}</a>
            {% endfor %}
        </div>
        <!--/.section-header-->
        <div class="new-arrivals-content">
            <div class="row">
                {% for y in arrivals %}
                <div class="col-md-3 col-sm-4">
                    <div class="single-new-arrival">
                        <div class="single-new-arrival-bg">
                            <img class="images" src="{% static 'media/news-100x100-5.jpg' %}" alt="new-arrivals images">
                            <div class="single-new-arrival-bg-overlay"></div>
                            <div class="new-arrival-cart">
                                <p>
                                    <span class="lnr lnr-cart"></span>
                                    <a href="#">karta qoshish</a>
                                </p>
                                <p class="arrival-review pull-right">
                                    <span class="lnr lnr-heart"></span>
                                    <span class="lnr lnr-frame-expand"></span>
                                </p>
                            </div>
                        </div>
                        <h4 class="category"><a href="{% url 'NEWSROOM:arrivals_detal' y.pk %}">category: {{ y.arrivals_title
                                }}</a></h4>
                        <p class="arrival-product-price">${{ y.arrivals_price }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <style>
        .new-arrival-cart a {
            color: black;
            text-decoration: none;
        }

        .category a {
            color: black;
            text-decoration: none;
        }

        .images {
            margin-top: 100px;
            width: 300px;
            height: 300px;
        }

        section {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .links {
            border: 1px solid aqua !important;
            text-decoration: none !important;
            display: inline-block !important;
            padding: 10px 15px !important;
            margin-top: 10px;
            margin-left: 20px;
        }
    </style>

    <!--/.container-->

</section>