 {% load static %}
 <!-- Topbar Start -->
 <div class="container-fluid">
    <div class="row align-items-center bg-light px-lg-5">
        <div class="col-12 col-md-8">
            <div class="d-flex justify-content-between">
                <div class="bg-primary text-white text-center py-2" style="width: 100px;">Tranding</div>
                <div class="owl-carousel owl-carousel-1 tranding-carousel position-relative d-inline-flex align-items-center ml-3" style="width: calc(100% - 100px); padding-left: 90px;">
                    <div class="text-truncate"><a class="text-secondary" href="">Labore sit justo amet eos sed, et sanctus dolor diam eos</a></div>
                    <div class="text-truncate"><a class="text-secondary" href="">Gubergren elitr amet eirmod et lorem diam elitr, ut est erat Gubergren elitr amet eirmod et lorem diam elitr, ut est erat</a></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-right d-none d-md-block">
            Monday, January 01, 2045
        </div>
    </div>
    <div class="row align-items-center py-2 px-lg-5">
        <div class="col-lg-4">
            <a href="" class="navbar-brand d-none d-lg-block">
                <h1 class="m-0 display-5 text-uppercase"><span class="text-primary">News</span>Room</h1>
            </a>
        </div>
        <div class="col-lg-8 text-center text-lg-right">
            <img class="img-fluid" src="{% static 'media/ads-700x70.jpg' %}" alt="">
        </div>
    </div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid p-0 mb-3">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-2 py-lg-0 px-lg-5">
        <a href="" class="navbar-brand d-block d-lg-none">
            <h1 class="m-0 display-5 text-uppercase"><span class="text-primary">News</span>Room</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3" id="navbarCollapse">
            <div class="navbar-nav mr-auto py-0">
                <a href="{% url 'NEWSROOM:home' %}" class="nav-item nav-link">Home</a>
                <a href="{% url 'NEWSROOM:category' %}" class="nav-item nav-link active">Categories</a>
                <a href="{% url 'NEWSROOM:single' %}" class="nav-item nav-link">Single News</a>
                <a href="" class="nav-item nav-link">Report</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a href="#" class="dropdown-item">Menu item 1</a>
                        <a href="#" class="dropdown-item">Menu item 2</a>
                        <a href="#" class="dropdown-item">Menu item 3</a>
                    </div>
                </div>
                <a href="{% url 'NEWSROOM:contact' %}" class="nav-item nav-link">Contact</a>
                {% if not request.user.is_authenticated %}
                <a href="{% url 'NEWSROOM:signup' %}" class="nav-item nav-link">Sign up</a>
                <a href="{% url 'NEWSROOM:Login' %}" class="nav-item nav-link">Login</a>
                {% endif %}
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'NEWSROOM:logout' %}" class="nav-item nav-link">logout</a></li>
                {% endif %}
              </div>
             

   
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Navbar End -->